h3 {
    color: red;
}

#textcolor {
    color: gray;
}

.textclass {
    color: palevioletred;
}

div.second > p {
    color: plum;
}

.colorhead {
    color: pink;
}

footer:hover {
    color: cyan;
}

div.nav a:hover {
    color: violet;
}

footer a:hover {
    color: palevioletred;
}

a[href="https://aespa-official.jp/"]
{
  color: green;
}

a[href="https://kprofiles.com/aespa-profile/"]
{
  color: orangered;
}



